{
		"file_header": [
                            "WWDAT1",
                            "WWTIME",
                            "WWFIRM"
                        ],
        "customer_records": [
                            "WWATCD",
                            "WWATGR",
                            "WWLCN1",
                            "WWLCN2",
                            "WWCSNA",
                            "WWGPAC",
                            "WWADR1",
                            "WWADR2",
                            "WWADR3",
                            "WWADR4",
                            "WWCACT",
                            "WWTXID",
                            "WWSPCD",
                            "WWETC1",
                            "WWETC2",
                            "WWCRCD",
                            "WWCRNM",
                            "WWBGDO",
                            "WWEDTO",
                            "WWOPBL",
                            "WWADDT",
                            "WWSTDT",
                            "WWPAMT",
                            "WWSAMT",
                            "WWDSC1",
                            "WWDSC2",
                            "WWRFND",
                            "WWRFN0",
                            "WWFNLG",
                            "WWPOTR",
                            "WWPFLG",
                            "WWPFDD",
                            "WWPFDN",
                            "WWPFTD",
                            "WWPFTT",
                            "WWPTFN",
                            "WWMYPO",
                            "WWPODD",
                            "WWPODF",
                            "WWTPDN",
                            "WWASOD",
                            "WWASDT",
                            "WWCSCL",
                            "WWCOLG",
                            "WWRALG",
                            "WWRTID",
                            "WWTRLG",
                            "WWFNRT",
                            "WWFITF",
                            "WWDTOD",
                            "WWDTOP",
                            "WWCLDD",
                            "WWCLDT",
                            "WWICD1",
                            "WWICD2",
                            "WWICVF",
                            "WWSECD",
                            "WWSECC",
                            "WWFXRD",
                            "WWFXRT",
                            "WWTRNP",
                            "WWDBTA",
                            "WWCRDA",
                            "WWCLBL",
                            "WWOPCL",
                            "WWOICD",
                            "WWFCCS",
                            "WWSPNM",
                            "WWCUSP",
                            "WWCORD",
                            "WWESFG",
                            "WWFL99"
                        ],
        "file_trailer": [
                            "WWDAT2",
                            "WWFLN2",
                            "WWLIB2",
                            "WWSEX2"
                        ]
 }
      
