#RECTYPE|START                              | END                                | OCCURANCE
#-------|-----------------------------------|------------------------------------|--------------
ETSXBASE|10  :B228:-DATE-HEADER-BASE        |10  				 | 1            
ETS00000|10  :B228:-DATE-HDR-SEGMENT	    |10					 | 1
ETS04200|09  :B228:-CURR-CONV-DATA	    |07  :B228:-SEC-HEADER		 | 1
ETS05200|09  :B228:-CATCD-DATA		    |09					 | 1
ETS10100|09  :B228:-ACH-DATA		    |09					 | 1
ETS10102|09  :B228:-XACH2-INFO-DATA	    |09					 | 1
ETS10103|09  :B228:-ACH3-SUMM-DATA	    |09					 | 1
ETS10105|09  :B228:-ACH5-SUMM-DATA	    |09					 | 1
ETS10150|10  :B228:-ACHX-SEGMENT-DATA	    |10					 | 1
ETS24100|10  :B228:-IBD-SEGMENT		    |10					 | 1
ETS24103|09  :B228:-X3IBD-SEG		    |10					 | 1
ETS24105|09  :B228:-X5IBD-SEG		    |10					 | 1
ETS20100|10  :B228:-NAP-SEGMENT             |10  FILLER				 | 1
ETS20101|09  :B228:-RR-DATA                 |09  FILLER				 | 1
ETS20102|09  :B228:-XNA-INFO-DATA           |09  FILLER         		 | 1
ETS20103|10  :B228:-XNAP-SEG                |10  FILLER				 | 1
ETS20106|09  :B228:-XNA6-RETOOL-DATA        |13  FILLER				 | 1
ETS20107|09  :B228:-XNA7-DATA               |09  FILLER				 | 1
ETS05300|10  :B228:-MFRSADV-DATA            |10  				 | 1
ETS22010|09  :B228:-NAI-DATA                |09  FILLER 			 | 1
ETS22011|09  :B228:-NAIP1-DATA              |07  :B228:-XTRA-DTL-DATA    	 | 1
ETS22014|09  :B228:-NAIP4-EXTRA-DATA        |07      				 | 1
ETS29100|09  :B228:-STKOPT-SEGLEN           |07 :B228:-UNVCSH-GRANT-DATA    	 | 1
ETS29200|09 :B228:-UNVCSH-GRANT-SEGLEN      |07  :B228:-DTL-SEGMENT    		 | 1
ETS30100|09  :B228:-DTL-DATA                |09  FILLER                          | 1
ETS30101|09  :B228:-XDT-DATA                |09  FILLER                          | 1
ETS30102|09  :B228:-XDT2-DATA               |07                                  | 1
ETS30104|09  :B228:-XDT4-DATA               |09                                  | 1
ETS50300|10  :B228:-POS-OPOR-DATA           |15  :B228:-OPOR-INFO  REDEFINES     | 1
ETS3P300|10  :B228:-POS-OPOR-DATA           |15  :B228:-OPOR-INFO  REDEFINES     | 2
ETSPEDI0|10  :B228:-POS-OPOR-DATA           |10  FILLER                          | 4
ETS50304|09  :B228:-XPOS4-DATA              |09                                  | 1
ETS3P304|09  :B228:-XPOS4-DATA              |09                                  | 2
ETSOPEN0|10  :B228:-POS-OPOR-DATA           |10                                  | 3
ETSOPEN1|09  :B228:-XPO-DATA                |09  FILLER                          | 1
ETSPETR0|09  :B228:-DTL-DATA                |09  FILLER                          | 3
ETSWHIS0|09  :B228:-MSR-DATA                |09  FILLER                          | 1
ETS30103|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 1
ETS84000|09  :B228:-ACCT-VERIF-ACCT-DATA    |09                                  | 1
ETS84100|09  :B228:-ACCT-VERIF-OWNR-DATA    |07  :B228:-SEGMENT                  | 1
ETS50101|09  :B228:-XDT-DATA                |09  FILLER                          | 2
ETS10130|09  :B228:-ACH-DATA		    |09					 | 2
ETS10133|09  :B228:-ACH3-SUMM-DATA	    |09					 | 2
ETSPETR3|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 2
ETS04100|09  :B228:-B1R-DATA                |09  FILLER                          | 1
ETS04220|09  :B228:-SEC-HEADER-DATA         |09  FILLER                          | 1
ETS50301|09  :B228:-XPO-DATA                |09  FILLER                          | 2
ETS3P301|09  :B228:-XPO-DATA                |09  FILLER                          | 3
ETS04221|09  :B228:-XPO-DATA                |09  FILLER                          | 4
ETS04222|09  :B228:-PROV-DATA               |09                                  | 1
ETS04223|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 3
ETS04224|09  :B228:-XSH4-STK-RATNG-DATA     |09  FILLER                          | 1
ETS04225|10  :B228:-XTRA5-RED-DESC-SEG      |10  FILLER                          | 1
ETS04226|09  :B228:-XDT6-DATA               |09  FILLER                          | 1
ETS04227|09  :B228:-XSH7-PRICE-DATA         |09  FILLER                          | 1
ETS04250|09  :B228:-BRANCH-ADDRESS-DATA     |07  :B228:-TAPECTL-SEGMENT          | 1
ETS04300|09  :B228:-TCL-DATA                |09  FILLER                          | 1
ETS04400|09  :B228:-IMP-DATA                |09  FILLER                          | 1
ETS04450|09  :B228:-ETB-DATA                |09  FILLER                          | 1
ETS04500|09  :B228:-NTR-DATA                |09  FILLER                          | 1
ETS05100|09  :B228:-BSK-REP-DATA            |09  FILLER                          | 1
ETS05150|09  :B228:-MNY-MGR-DATA            |09  FILLER                          | 1
ETS05200|09  :B228:-CATCD-DATA              |09  FILLER                          | 1
ETS05300|10  :B228:-MFRSADV-DATA            |10  FILLER                          | 1
ETS06100|09  :B228:-BMS-DATA                |09  FILLER                          | 1
ETS20104|09  :B228:-XNA4-RELATED-ACCT-DATA  |09  FILLER  			 | 1
ETS30150|09  :B228:-DTL-DATA                |09  FILLER                          | 2
ETS30151|09  :B228:-XDT-DATA                |09  FILLER                          | 3
ETS40100|09  :B228:-BAL-DATA                |09  FILLER                          | 1
ETS50302|09  :B228:-MEMOS-DATA              |09  FILLER                          | 1
ETS3P302|09  :B228:-MEMOS-DATA              |09  FILLER                          | 2
ETS50305|09  :B228:-XPOS5-MEMO-DATA         |09  FILLER                          | 1
ETS3P305|09  :B228:-XPOS5-MEMO-DATA         |09  FILLER                          | 2
ETS50306|09  :B228:-XPOS6-CANADA-DATA       |09  FILLER                          | 1
ETS3P306|09  :B228:-XPOS6-CANADA-DATA       |09  FILLER                          | 2
ETS50307|09  :B228:-XTLE7-DATA              |09  FILLER                          | 1
ETS3P307|09  :B228:-XTLE7-DATA              |09  FILLER                          | 2
ETSOPEN6|09  :B228:-XPOS6-CANADA-DATA       |09  FILLER                          | 3
ETSPETR1|09  :B228:-XDT-DATA                |09  FILLER                          | 4
ETSWHIS1|09  :B228:-XDT-DATA                |09  FILLER                          | 5
ETSPEDI7|09  :B228:-XPOS7-DATA              |09  FILLER                          | 1
ETSGNMA0|09  :B228:-MSR-DATA                |09  FILLER                          | 2
ETSIRAA0|09  :B228:-MSR-DATA                |09  FILLER                          | 3
ETS90100|09  :B228:-FILLER-DATA             |09  FILLER                          | 1
ETS90500|10  :B228:-TLR-COMMON              |10  FILLER                          | 1
ETS90800|09  :B228:-CHD-DATA                |09  FILLER                          | 41
ETS90900|10  :B228:-TLR-COMMON              |10  FILLER                          | 3
ETS10101|09  :B228:-XACH-DATA   	    |07  :B228:-RR-SEGMENT		 | 1
ETS04600|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 1
ETS04610|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 2
ETS04620|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 3
ETS04630|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 4
ETS04640|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 5
ETS04650|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 6
ETS04660|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 7
ETS04670|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 8
ETS04680|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 9
ETS04690|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 10
ETS04700|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 11
ETS04710|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 12
ETS04720|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 13
ETS04730|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 14
ETS04740|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 15
ETS04750|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 16
ETS04760|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 17
ETS04770|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 18
ETS04780|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 19
ETS04790|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 20
ETS04800|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 21
ETS04810|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 22
ETS04820|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 23
ETS04830|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 24
ETS04840|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 25
ETS04850|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 26
ETS04860|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 27
ETS04870|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 28
ETS04880|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 29
ETS04890|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 30
ETS04900|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 31
ETS04910|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 32
ETS04920|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 33
ETS04930|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 34
ETS04940|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 35
ETS04950|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 36
ETS04960|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 37
ETS04970|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 38
ETS04980|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 39
ETS04990|09  :B228:-CHD-DATA     	    |09  FILLER         		 | 40
ETS50303|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 4
ETS3P303|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 5
ETSOPEN3|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 6
ETSWHIS3|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 7
ETSGNMA3|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 8
ETSIRAA3|10  :B228:-DESCRIPTION-SEG         |10  FILLER                          | 9
ETS90901|09  :B228:-TRL-DATA                |09  FILLER                          | 1
ETSTTSS0|09  :B228:-ANNUITY-DATA            |09  FILLER                          | 1
ETSTTCD0|09  :B228:-CDL-DATA                |09  FILLER                          | 1
ETSTTSS3|09  :B228:-X3ANNU-SEG              |09  FILLER                          | 1
ETSTTSS4|09  :B228:-X4ANNU-SEG              |09  FILLER                          | 1
ETSTTSS5|09  :B228:-X5ANNU-SEG              |09  FILLER                          | 1
ETSTTSS6|09  :B228:-X6ANNU-SEG              |09  FILLER                          | 1
ETSTTSS7|09  :B228:-X7ANNU-SEG              |09  FILLER                          | 1
ETSTTSS8|09  :B228:-X8ANNU-SEG              |09  FILLER                          | 1
ETSCLDT0|09  :B228:-CDL-DATA                |09  FILLER                          | 2
ETSANNT0|09  :B228:-ANNUITY-DATA            |09  FILLER                          | 2
ETSANNT3|09  :B228:-X3ANNU-SEG              |09  FILLER                          | 2
ETSANNT4|09  :B228:-X4ANNU-SEG              |09  FILLER                          | 2
ETSANNT5|09  :B228:-X5ANNU-SEG              |09  FILLER                          | 2
ETSANNT6|09  :B228:-X6ANNU-SEG              |09  FILLER                          | 2
ETSANNT7|09  :B228:-X7ANNU-SEG              |09  FILLER                          | 2
ETSANNT8|09  :B228:-X8ANNU-SEG              |09  FILLER                          | 2
ETS23000|09  :B228:-ACCT-VERIF-ACCT-DATA    |09  FILLER                          | 2
ETS23100|09  :B228:-ACCT-VERIF-OWNR-DATA    |07  :B228:-SEGMENT                  | 2



#FIELD   | TOTAL COUNT              |
#--------|--------------------------|
COUNTOTAL|42                        |


#FIELD  |REC TYPE | FROM                                     | TO
#-------|---------|------------------------------------------|--------------------------------------------------------------------------------------------------
RENAME  |ETSXBASE |20  :B228:-HDR-CL-BR-ACT  PIC X(10).      |20  :B228:-HDR-CL  PIC 9(3)  COMP-3. ,20  :B228:-HDR-BR  PIC X(3). , 20  :B228:-HDR-ACT  PIC X(5).
RENAME  |ETSXBASE |20  :B228:-BMS-LINES-1-5  OCCURS 5 TIMES. |20  :B228:-BMS-LINES-1-5  OCCURS 10 TIMES.
RENAME  |ETSXBASE |15  FILLER                    PIC X(4).   |15  :B228:-HDR-CHECK  PIC X. ,15  :B228:-EXTRA-DATA-SEGS  PIC X(3).


#FIELD  |REC TYPE | FROM                                     | TO
#-------|---------|------------------------------------------|--------------------------------------------------------------------------------------------------
FILTER  |ETSPEDI0 |15  :B228:-POS-INFO.                      |20  FILLER                        PIC X(01).
FILTER  |ETSPEDI0 |15  :B228:-OPOR-INFO  REDEFINES  :B228:-POS-INFO.                      |20 FILLER                            PIC X(48).
FILTER  |ETSOPEN0 |15  :B228:-POS-INFO.                      |20  FILLER                        PIC X(01).
FILTER  |ETSOPEN0 |15  :B228:-PRCD-PEND-INFO  REDEFINES |20  FILLER                     PIC X(63).

